*.Cache
*.bat
*.dll
*.exe
*.jar
*.map
*.nupkg
*.pyc
*.snk
*.suo
*.user
*.userprefs
*.usertasks
.nuget/
.vs/
Fuzzer/bin/
Fuzzer/obj/
FuzzerTest/bin/
FuzzerTest/obj/
encoding/
encodingfldr/
packages/
target/
